
li {
  list-style: none;
}

.btn {
  display: block;
  align-items: left;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 50px;
  margin-top: 20px;
  padding: 5px 30px;
  border: 1px solid #6f8976;
  color: #6f8976;
  border-radius: 100vh;
  transition: 0.5s;
}
.btn:hover {
  color: #fff;
  background-color: #6f8976;
}



/*-------------------------------------------
ヘッダー1
-------------------------------------------*/

#header-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo a {
  display: block;
  background-color: #6f8976;
  width: 100%;
  height: 50px;
}

#header-1 p {
  text-align: left;
}

#header-1 ul {
  display: flex;
}

#header-1 li {
  margin: 5px 15px;
}

/*-------------------------------------------
ヘッダー2
-------------------------------------------*/
#header-2 nav {
  text-align: center;
  margin-bottom: 20px;
}

#header-2 ul {
  margin: 0;
  padding: 0;
}
#header-2 ul li {
  list-style: none;
  display: inline-block;
  width: 10%;
  min-width: 90px;
}

#header-2 ul li a {
  text-decoration: none;
  color: #333;
}

#header-2 ul li a:hover {
  color: #6f8976;
}


/*-------------------------------------------
メイン画像
-------------------------------------------*/

#container {
  position: relative;
  width: 100%;
  height: auto;
  line-height: 30px;
}
#container h1 {
  position: absolute;
  z-index: 3;
  top: 30%;
  left: 5%;
  margin: auto;
  font-size: 40px;
  color: #fff;
}

#container p {
  position: absolute;
  z-index: 3;
  top: 40%;
  left: 5%;
  margin: auto;
  padding: auto;
  font-size: 16px;
  color: #fff;
  line-height: 45px;
}
#container a {
  position: absolute;
  z-index: 3;
  top: 60%;
  left: 5%;
  display: block;
  align-items: left;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 210px;
  margin: 10px auto;
  padding: 15px 30px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 100vh;
  transition: 0.5s;
}

#container a:hover {
  position: absolute;
  z-index: 3;
  color: #fff;
  border: 1px solid #6f8976;
  background-color: #6f8976;
}

#container .background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 31, 61, 0.4);
}

#container img {
  width: 100%;
  height: 800px;
  background-size: cover;
}


/*-------------------------------------------
NEW ITEMS
-------------------------------------------*/

#new-items div {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin: 0 auto;
  padding: 0;
}
#new-items h2 {
  font-size: 32px;
  text-align: center;
  padding: auto;
  margin-top: 40px;
  margin-bottom: 10px;
}

#new-items > p {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 10px;
}

#new-items ul {
  width: calc(25% - 30px);
  margin-right: 10px;
  margin-left: 0;
}

#new-items img {
  display: flex;
  width: 100%;
  object-fit: cover;
  margin-right: 30px;
}




/*-------------------------------------------
RECOMMEND
-------------------------------------------*/

#recommend {
  position: relative;
  justify-content: space-between;
}

#recommend div {
  display: flex;
  align-items: left;
  margin: 0 auto;
  padding: 0;

}
#recommend h2 {
  position: absolute;
  z-index: 3;
  top: 20%;
  left: 45%;
  margin: auto;
  font-size: 40px;
  color: #fff;

}

#recommend > p {
  position: absolute;
  text-align: center;
  z-index: 3;
  top: 20%;
  left: 45%;
  margin: auto;
  font-size: 16px;
  color: #fff
}



#recommend ul {
  display: flex;
  width: auto;
  height: auto;
  align-items: left;
}

#recommend img:first-child {
  width: 100%;
  height: 430px;
}

#recommend .background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 430px;
  background: rgba(0, 31, 61, 0.4);
}

#recommend img {
  display: flex;
  text-align: center;
  margin-right: 30px;
}



/*-------------------------------------------
RANKING
-------------------------------------------*/

#ranking {
  position: relative;
  width: 100%;
  height: auto;
}

#ranking div {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin: 0 auto;

}
#ranking h2 {
  position: absolute;
  font-size: 32px;
  text-align: center;

}

#ranking > p {
  position: absolute;
  text-align: center;
}

#ranking ul {
  align-items: left;
}

#ranking img:first-child {
  width: 100%;
  height: 430px;
}
#ranking .background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 430px;
  background: rgba(0, 31, 61, 0.4);
}

#ranking img {
  display: flex;
  width: 100%;
  object-fit: cover;
}

/*-------------------------------------------
TEA WARE
-------------------------------------------*/

#tea-ware {
  position: relative;
  width: 100%;
  height: auto;
}

#tea-ware div {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin: 0 auto;

}
#tea-ware h2 {
  font-size: 32px;
  text-align: center;
  padding: auto;
  margin-top: 40px;
  margin-bottom: 10px;
}

#tea-ware > p {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 10px;
}

#tea-ware ul {
  align-items: left;
}

#tea-ware img:first-child {
  width: 100%;
  height: 430px;
}

#tea-ware .background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 430px;
  background: rgba(0, 31, 61, 0.4);
}

#tea-ware img {
  display: flex;
  width: 100%;
  object-fit: cover;
}




/*-------------------------------------------
BLOG
-------------------------------------------*/

#blog h2 {
  font-size: 32px;
  text-align: center;
  padding: auto;
  margin-top: 40px;
  margin-bottom: 10px;
}

.parent div {
  display: flex;
  flex-wrap: wrap;
}

.parent .flex {
  display: flex;
  flex-wrap: wrap;
  width: calc(48% - 10px);
  gap: 20px;
  padding: 0;
}





#blog a {
  display: block;
  align-items: left;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 80px;
  margin: 10px 0;
  padding: 5px 30px;
  border: 1px solid #6f8976;
  color: #6f8976;
  border-radius: 100vh;
  transition: 0.5s;
}

#blog a:hover {
  color: #fff;
  background-color: #6f8976;
}

#blog a:last-child {
  display: block;
  align-items: left;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 150px;
  margin: 40px auto;
  padding: 15px 60px;
  border: 1px solid #6f8976;
  color: #6f8976;
  border-radius: 100vh;
  transition: 0.5s;
}
#blog a:last-child:hover {
  color: #fff;
  background-color: #6f8976;
}





/*-------------------------------------------
footer
-------------------------------------------*/

#footer {
  font-size: 15px;
  padding: 10px 0;
  text-align: center;
}


.photo {
  display: flex;
}

#photo img {
  display: flex;
  width: 50%;
}


